Description: Stores
AWSTemplateFormatVersion: '2010-09-09'
Parameters:
  dockerTag:
    Type: String
    Description: Docker tag to deploy
  appRoot:
    Type: String
    Description: app root
  proxyRoot:
    Type: String
    Description: proxy root
  authorityUri:
    Type: String
    Description: OIDC authority uri
  databaseHost:
    Type: String
    Description: Database host
  databaseName:
    Type: String
    Description: Database name
  databaseUserId:
    Type: String
    Description: Database user id
  databasePassword:
    Type: String
    Description: Database password
  rabbitServer:
    Type: String
    Description: Rabbit server
  rabbitPort:
    Type: Number
    Description: Rabbit port
  rabbitUsername:
    Type: String
    Description: Rabbit username
  rabbitPassword:
    Type: String
    Description: Rabbit password
  smtpHostname:
    Type: String
    Description: SMTP Hostname
  shipfileTemplatePath:
    Type: String
    Description: Shipfile PDF Template Path
  shipfilesTestAddress:
    Type: String
    Description: Email address test shipfiles are sent to
  shipfilesFromAddress:
    Type: String
    Description: Email address shipfiles are sent from
  mechanicalSourcingAddress:
    Type: String
    Description: Email address for mechanical sourcing sheets
  electronicSourcingAddress:
    Type: String
    Description: Email address for electronic sourcing sheets
  fromStoresAddress:
    Type: String
    Description: Email address from stores 
  pdfServiceRoot:
    Type: String
    Description: Pdf Service API root url  
  environmentSuffix:
    Type: String
    AllowedValues:
      - ''
      - -int
      - -sys
    Description: Environment suffix e.g -int -sys
  TestClusterName:
    Type: AWS::SSM::Parameter::Value<String>
    Description: Name of test cluster
    Default: TestClusterName
  ProductionClusterName:
    Type: AWS::SSM::Parameter::Value<String>
    Description: Name of production cluster
    Default: ProductionClusterName
  cognitoHost:
    Type: String
    Description: Cognito host
  cognitoClientId:
    Type: String
    Description: Cognito client id
  cognitoDomainPrefix:
    Type: String
    Description: Cognito domain prefix
  entraLogoutUri:
    Type: String
    Description: Entra logout uri
  legacyAuthorityUri:
    Type: String
    Description: legacy auth uri

Conditions:
  isTesting: !Or
    - !Equals [!Ref environmentSuffix, "-int"]
    - !Equals [!Ref environmentSuffix, "-sys"]

Resources:
  storesRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Principal:
              Service: [ "ecs-tasks.amazonaws.com" ]
            Action: [ "sts:AssumeRole" ]
      Path: "/"
      Policies:
      - PolicyName: storesServices
        PolicyDocument:
          Version: '2012-10-17'
          Statement:
          - Effect: Allow
            Action:
            - ses:SendEmail
            - ses:SendRawEmail
            Resource: '*'
      - PolicyName: kms
        PolicyDocument:
          Version: '2012-10-17'
          Statement:
          - Effect: Allow
            Action:
              - 'kms:Encrypt'
              - 'kms:Decrypt'
            Resource: "*"
      - PolicyName: s3Policy
        PolicyDocument:
          Version: '2012-10-17'
          Statement:
          - Effect: Allow
            Action:
              - s3:*
            Resource: !Sub "arn:aws:s3:::auth${environmentSuffix}*-keysbucket*"
  StackLogGroup: 
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    Properties:
      LogGroupName: !Sub ${AWS::StackName}-LogGroup
      RetentionInDays: 14
  storesTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      TaskRoleArn: !GetAtt storesRole.Arn
      ContainerDefinitions:
      - Name: stores
        Cpu: '1'
        Essential: 'true'
        Image: !Sub docker.io/linn/stores:${dockerTag}
        PortMappings:
        - ContainerPort: 5050
        Memory: '500'
        LogConfiguration:
          LogDriver: awslogs
          Options:
            awslogs-region: !Ref AWS::Region
            awslogs-group: !Ref StackLogGroup
            awslogs-stream-prefix: !Ref AWS::StackName
        Environment:
        - Name: DATABASE_HOST
          Value: !Ref databaseHost
        - Name: DATABASE_NAME
          Value: !Ref databaseName
        - Name: DATABASE_USER_ID
          Value: !Ref databaseUserId
        - Name: DATABASE_PASSWORD
          Value: !Ref databasePassword
        - Name: RABBIT_SERVER
          Value: !Ref rabbitServer
        - Name: RABBIT_PORT
          Value: !Ref rabbitPort
        - Name: RABBIT_USERNAME
          Value: !Ref rabbitUsername
        - Name: RABBIT_PASSWORD
          Value: !Ref rabbitPassword
        - Name: APP_ROOT
          Value: !Ref appRoot
        - Name: PROXY_ROOT
          Value: !Ref proxyRoot
        - Name: AUTHORITY_URI
          Value: !Ref authorityUri
        - Name: SMTP_HOSTNAME
          Value: !Ref smtpHostname
        - Name: SHIPFILES_TEST_ADDRESS
          Value: !Ref shipfilesTestAddress
        - Name: SHIPFILES_FROM_ADDRESS
          Value: !Ref shipfilesFromAddress
        - Name: PDF_SERVICE_ROOT
          Value: !Ref pdfServiceRoot
        - Name: SHIPFILE_TEMPLATE_PATH
          Value: !Ref shipfileTemplatePath
        - Name: MECHANICAL_SOURCING_ADDRESS
          Value: !Ref mechanicalSourcingAddress
        - Name: ELECTRONIC_SOURCING_ADDRESS
          Value: !Ref electronicSourcingAddress
        - Name: FROM_STORES_ADDRESS
          Value: !Ref fromStoresAddress
        - Name: awsRegion
          Value: !Ref AWS::Region
        - Name: KEYS_BUCKET_NAME
          Value:
            Fn::ImportValue:
              !Sub "linn-keys-bucket${environmentSuffix}"
        - Name: KMS_KEY_ALIAS
          Value:
            Fn::ImportValue:
              !Sub "kms-key-alias${environmentSuffix}"
        - Name: COGNITO_HOST
          Value: !Ref cognitoHost
        - Name: COGNITO_CLIENT_ID
          Value: !Ref cognitoClientId
        - Name: COGNITO_DOMAIN_PREFIX
          Value: !Ref cognitoDomainPrefix
        - Name: ENTRA_LOGOUT_URI
          Value: !Ref entraLogoutUri
        - Name: LEGACY_AUTHORITY_URI
          Value: !Ref legacyAuthorityUri
  
  storesService:
    Type: AWS::ECS::Service
    Properties:
      # Have to use long form conditional
      Cluster: !If
        - isTesting
        - !Sub ${TestClusterName}
        - !Sub ${ProductionClusterName}
      DesiredCount: !If [ isTesting, 1, 2]
      PlacementStrategies:
        - Field: attribute:ecs.availability-zone
          Type: spread
        - Field: instanceId
          Type: spread
      TaskDefinition: !Ref storesTaskDefinition
      Role: ecsServiceRole
      LoadBalancers:
      - ContainerName: stores
        ContainerPort: 5050
        TargetGroupArn:
          Fn::ImportValue:
            !Sub "stores-target-group-arn${environmentSuffix}"
