@model Linn.Stores.Proxy.TestViewModel

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>TEst</title>

    
</head>

<body>

    <b>Hello: </b> @Model.Name<br>
                                
</body>
</html>